In [1]:
import pandas as pd
import numpy as np

In [2]:
df_match = pd.read_csv("./match_player_data_past_ave.csv")

In [3]:
df_match.head()

,Unnamed: 0,Date,Tm,Opp,Result,MP,FG,FGA,FG%,2P,...,2P_AVG.1,2PA_AVG.1,2P%_AVG.1,3P_AVG.1,3PA_AVG.1,3P%_AVG.1,FT_AVG.1,FTA_AVG.1,FT%_AVG.1,PTS_AVG.1
0,0,2021/3/27,LAC,PHI,W 122-112,240,45,85,0.529,34,...,27.8,53.1,0.5246,12.0,31.2,0.3844,15.7,20.6,0.7788,107.3
1,1,2021/3/27,PHI,LAC,L 112-122,240,39,77,0.506,29,...,28.2,58.5,0.4820,10.2,28.4,0.3528,16.7,24.3,0.6883,103.7
2,2,2021/3/27,MIL,NYK,L 96-102,240,36,87,0.414,22,...,29.6,56.5,0.5247,14.3,39.8,0.3581,13.2,15.9,0.8382,115.3
3,3,2021/3/27,NYK,MIL,W 102-96,240,40,93,0.430,24,...,27.9,50.4,0.5591,11.9,31.7,0.3733,16.4,22.2,0.7507,107.9
4,4,2021/3/27,HOU,MIN,W 129-107,240,50,92,0.543,32,...,27.4,51.1,0.5405,14.2,37.6,0.3812,18.1,22.7,0.7985,115.5

In [4]:
# split into tm and opp team
df_tm = df_match.iloc[::2]
df_opp = df_match.iloc[1::2]

In [5]:
df_tm.reset_index(inplace=True, drop=True)
df_opp.reset_index(inplace=True, drop=True)

In [13]:
'''
For creating table with tm performance and opp team performance

# drop team name columns for the opp df to prevent duplication
df_opp.drop(columns=['Tm', 'Opp'], inplace=True)
for col_name in df_opp.columns:
    df_opp.rename(columns={col_name: col_name + "_opp"}, inplace=True)
# drop unnecessary columns from df_opp
df_opp.drop(columns=['Date_opp', 'Result_opp'], inplace=True)
merged_final = df_tm.join(df_opp)
# save cleaned data to csv
merged_final.to_csv("./combined_match_data.csv")
'''

'\nFor creating table with tm performance and opp team performance\n\n# drop team name columns for the opp df to prevent duplication\ndf_opp.drop(columns=[\'Tm\', \'Opp\'], inplace=True)\nfor col_name in df_opp.columns:\n    df_opp.rename(columns={col_name: col_name + "_opp"}, inplace=True)\n# drop unnecessary columns from df_opp\ndf_opp.drop(columns=[\'Date_opp\', \'Result_opp\'], inplace=True)\nmerged_final = df_tm.join(df_opp)\n# save cleaned data to csv\nmerged_final.to_csv("./combined_match_data.csv")\n'

In [6]:
df_opp.columns

Index(['Unnamed: 0', 'Date', 'Tm', 'Opp', 'Result', 'MP', 'FG', 'FGA', 'FG%',
       '2P', '2PA', '2P%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'PTS',
       'FG.1', 'FGA.1', 'FG%.1', '2P.1', '2PA.1', '2P%.1', '3P.1', '3PA.1',
       '3P%.1', 'FT.1', 'FTA.1', 'FT%.1', 'PTS.1', 'FG_AVG', 'FGA_AVG',
       'FG%_AVG', '2P_AVG', '2PA_AVG', '2P%_AVG', '3P_AVG', '3PA_AVG',
       '3P%_AVG', 'FT_AVG', 'FTA_AVG', 'FT%_AVG', 'PTS_AVG', 'FG_AVG.1',
       'FGA_AVG.1', 'FG%_AVG.1', '2P_AVG.1', '2PA_AVG.1', '2P%_AVG.1',
       '3P_AVG.1', '3PA_AVG.1', '3P%_AVG.1', 'FT_AVG.1', 'FTA_AVG.1',
       'FT%_AVG.1', 'PTS_AVG.1'],
      dtype='object')

In [7]:
df_opp.drop(columns=['Date','Tm','Opp','Result'], inplace=True)

/Users/zhouzijian/Library/Python/3.7/lib/python/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [8]:
# get the diff between team and opp
for col_name in df_opp.columns:
    df_tm[col_name] -= df_opp[col_name]

/usr/local/Cellar/python/3.7.7/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
df_tm.head()

,Unnamed: 0,Date,Tm,Opp,Result,MP,FG,FGA,FG%,2P,...,2P_AVG.1,2PA_AVG.1,2P%_AVG.1,3P_AVG.1,3PA_AVG.1,3P%_AVG.1,FT_AVG.1,FTA_AVG.1,FT%_AVG.1,PTS_AVG.1
0,-1,2021/3/27,LAC,PHI,W 122-112,0,6,8,0.023,5,...,-0.4,-5.4,0.0426,1.8,2.8,0.0316,-1.0,-3.7,0.0905,3.6
1,-1,2021/3/27,MIL,NYK,L 96-102,0,-4,-6,-0.016,-2,...,1.7,6.1,-0.0344,2.4,8.1,-0.0152,-3.2,-6.3,0.0875,7.4
2,-1,2021/3/27,HOU,MIN,W 129-107,0,14,7,0.119,9,...,-1.7,-2.6,0.0015,-0.7,0.6,-0.0269,2.3,2.2,0.0249,-3.2
3,-1,2021/3/27,DAL,NOP,L 103-112,0,-5,2,-0.073,-6,...,-2.6,-0.7,-0.0498,0.0,1.9,-0.0190,-3.6,-2.8,-0.0676,-8.8
4,-1,2021/3/27,BOS,OKC,W 111-94,0,10,13,0.048,9,...,-4.4,-4.8,-0.0378,4.0,5.3,0.0557,1.7,2.5,-0.0406,4.9

In [10]:
df_tm.dropna(inplace=True)

/usr/local/Cellar/python/3.7.7/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
df_tm.head()

,Unnamed: 0,Date,Tm,Opp,Result,MP,FG,FGA,FG%,2P,...,2P_AVG.1,2PA_AVG.1,2P%_AVG.1,3P_AVG.1,3PA_AVG.1,3P%_AVG.1,FT_AVG.1,FTA_AVG.1,FT%_AVG.1,PTS_AVG.1
0,-1,2021/3/27,LAC,PHI,W 122-112,0,6,8,0.023,5,...,-0.4,-5.4,0.0426,1.8,2.8,0.0316,-1.0,-3.7,0.0905,3.6
1,-1,2021/3/27,MIL,NYK,L 96-102,0,-4,-6,-0.016,-2,...,1.7,6.1,-0.0344,2.4,8.1,-0.0152,-3.2,-6.3,0.0875,7.4
2,-1,2021/3/27,HOU,MIN,W 129-107,0,14,7,0.119,9,...,-1.7,-2.6,0.0015,-0.7,0.6,-0.0269,2.3,2.2,0.0249,-3.2
3,-1,2021/3/27,DAL,NOP,L 103-112,0,-5,2,-0.073,-6,...,-2.6,-0.7,-0.0498,0.0,1.9,-0.0190,-3.6,-2.8,-0.0676,-8.8
4,-1,2021/3/27,BOS,OKC,W 111-94,0,10,13,0.048,9,...,-4.4,-4.8,-0.0378,4.0,5.3,0.0557,1.7,2.5,-0.0406,4.9

In [13]:
# save to csv
df_tm.to_csv("final_match_player_data.csv")